* {
  margin: 0;
}
html, body {
  height: 100%;
  
}

h1,h2, h3, h4, h5,h6, p {
  margin bottom: 20px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  font-family: Helvetica;
  color: white;
   display: flex;
  flex-wrap: wrap;
}
ul {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
li {
    padding: 20px;
/* All block elements*/
}

.sect {
  height: 100%;
  width: 100%;
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.container {
  display:flex;
  border: 10px solid black;
  height: 50%;
 width: 100vw;
}
.subSectionOne {
  height: 50%;
  background-color: orange;
  display: flex;
  flex-direction: row;
}
.sectOne {
  background-image: url('https://img0.etsystatic.com/000/0/5254040/il_fullxfull.177183954.jpg');
   display: flex;
  flex-wrap: wrap;
}
.sectTwo {
    background-image: url('http://www.minnarossi.com/images/cr4.jpg')
}
.subSectionTwo {
  height: 50%;
  background-color: yellow;
}
.sectThree {
    background-image: url('https://ztanksley.files.wordpress.com/2008/11/img_2688_21.jpg')

}