
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Scrolling</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Press+Start+2P|Cabin+Sketch|Roboto|Cedarville+Cursive|Rubik+Mono+One|Mrs+Sheppards|Engagement|Bungee+Hairline|Bungee+Inline|Bungee+Shade|Bungee" rel="stylesheet">
  <nav></nav> 
    <div class= "sect sectOne sectA"></div> 
    <div class=" container subSectionOne">
      <div class="block blockA"><div class="mePhoto"></div><h1 class="aboutMe"> About</h1></div>
      <div class="block blockB"><h1 class="bio"><strong>Bio</strong></h1><h4 class="bio">My current passions include web development, graphic design, marketing, <br> photography, writing,food & wine, writing and playing music.  When not pushing<br>  pixels or coding, I like to get out and enjoy the beautiful spaces the great state<br>  of Colorado has to offer.<br> <br> My early career  began as a chef, graduating from the Scottsdale Culinary Institute <br> in 2000. As a chef I have worked as a Sous chef, a private chef in Maui,<br>  a caterer, and have assisted in the opening of fine dining restaurants,<br>  as well as owning a small catering company. After a culinary career spanning<br>  a decade I went back to school to peruse my B.A. in Hospitality & Events,<br>  with a double minor of wine & photography. It was during my pursuit of photography <br> that I was introduced to adobe and eventually fall in love with the <br>  power and beauty of graphic design. <br> <br> My distinctive background led me to some unique positions <br> where I was able to apply my skillset of food and wine with <br> my love of design and marketing to grow into a<br>  gratifying career.<br> <br>After years relying on CMS sites for marketing projects,<br>  I knew there was only logical next step, and <br> that was to learn to program.<br> <br> Studying at the Davinci Institute was the first step on my <br> journey to my goal of  living a life of meaning. I m zealous <br> about creating result driven projects that are as unique <br> as they are impactful </h4></div>
    </div>
    <div class= "sect sectThree">
       <div class= "sect sectTwo"></div>
        <div class= "container subSectionTwo">
        <div class="blockHidden block1"><h2 class="quote"><strong>"Bobby has exceeded my expectations time and again!"</strong></h2></div>
        <div class="blockHidden block2"><h1 class="webDev">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-Web Dev-</h1></div>  
        <div class="block block3"><h1 class="jsProjects">&nbsp&nbsp&nbsp&nbspJavascript <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspProjects</h1><h1 class="gitHub"><strong>&nbsp&nbsp&nbspGIT HUB</strong></h1><a href="https://codepen.io/GallacticGorilla/"><h1 class="codePen"><strong>&nbspcodePen</strong></h1></a></div>
      </div>
    <div class= "container subSectionTwo">
      <div class="block block4"><h1 class="designText"><strong>Design<br>Portfolio</strong></h1></div>
      <div class="blockHidden block5"></div>
      <div class="block block6"><h1 class="photoText"><strong>Photography<br>Portfolio</strong></h1></div>
      <div class="blockHidden block7"><h1 class="photoImage"><strong>Image Here</strong></h1></div>
    </div> 
    <div class= "container subSectionThree blockHidden"><h1 class="designOne">I believe in simple things done well</h1></div>
    <div class= "sect sectFour"></div>
    <div class= "container subSectionFive"><h1 class="photography">FB Twitter Contact Footer</h1></div>
  
    
   
  
</body>
</html>
