<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Scrolling</title>
</head>
<body>
  
  <nav></nav>
    <div class= "sect sectOne"></div>
<!--     <div class="container">
 -->      
    <div class=  "container subSectionOne"></div>
    </div>
    <div class= "sect sectTwo"></div>
    <div class= "subSectionTwo"></div>
    <div class= "sect sectThree"></div>

  
  
</body>
</html>