
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Scrolling</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Press+Start+2P|Cabin+Sketch|Roboto|Cedarville+Cursive|Rubik+Mono+One|Mrs+Sheppards|Engagement|Bungee+Hairline|Bungee+Inline|Bungee+Shade|Bungee" rel="stylesheet">
  <nav></nav> 
    <div class= "sect sectOne sectA"></div> 
    <div class=" container subSectionOne">
      <div class="block blockA"><div class="mePhoto"></div><h1 class="aboutMe"> About</h1></div>
      <div class="block blockB"><h1 class="bio">Bio</h1><h4 class="bio"> The <strong>details of my</strong> life are quite inconsequential ... Very well, where do I begin? My father was a<br> relentlessly <br>self-improving boulangerie <br> owner from Belgium<br> with low-grade narcolepsy <br>and a penchant for buggery.<br> My mother<br> was a 15-year-old French prostitute named <br>Chloé with webbed feet. My father would womanize; he would drink; he would make<br> outrageous <strong>claims like he </strong>invented <br>the question mark. Sometimes, <br> he would accuse chestnuts of being lazy. The sort of <br>general malaise that only the genius possess and the insane lament ...<br> My childhood was <br> typical: summers in Rangoon ... luge lessons ... In the <br>spring, we'd make meat helmets ... When I was <br>insolent I was placed in a burlap bag <br> and beaten with reeds — pretty standard, really. At the age of 12, I received my first <br>scribe. At the age of 14, a Zoroastrian <br>named Vilmer <br> ritualistically shaved my testicles.<br> There really is nothing like a shorn scrotum — it's breathtaking ... I suggest you try i</h4></div>
    </div>
    <div class= "sect sectThree">
       <div class= "sect sectTwo"></div>
        <div class= "container subSectionTwo">
        <div class="blockHidden block1"><h2 class="quote"><strong>"Bobby has exceeded my expectations time and again!"</strong></h2></div>
        <div class="blockHidden block2"><h1 class="webDev">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-Web Dev-</h1></div>  
        <div class="block block3"><h1 class="jsProjects">&nbsp&nbsp&nbsp&nbspJavascript <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspProjects</h1><h1 class="gitHub"><strong>&nbsp&nbsp&nbspGIT HUB</strong></h1><a href="https://codepen.io/GallacticGorilla/"><h1 class="codePen"><strong>&nbspcodePen</strong></h1></a></div>
      </div>
    <div class= "container subSectionTwo">
      <div class="block block4"><h1 class="designText"><strong>Design<br>Portfolio</strong></h1></div>
      <div class="blockHidden block5"></div>
      <div class="block block6"><h1 class="photoText"><strong>Photography<br>Portfolio</strong></h1></div>
      <div class="blockHidden block7"><h1 class="photoImage"><strong>Image Here</strong></h1></div>
    </div> 
    <div class= "container subSectionThree blockHidden"><h1 class="designOne">I believe in simple things done well</h1></div>
    <div class= "sect sectFour"></div>
    <div class= "container subSectionFive"><h1 class="photography">FB Twitter Contact Footer</h1></div>
  
    
   
  
</body>
</html>
